[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
tab_width = 2

[{*.cjs,*.js}]
ij_typescript_use_double_quotes = false

[{*.ts,*.tsx}]
ij_javascript_use_double_quotes = false
