.initWrapper {
  padding: 20px;
  background-color: hsl(270, 50%, 95%);
  border-radius: 20px;
  box-shadow: 0 2px 2px hsla(270, 50%, 10%, .3), 0 4px 4px hsla(270, 50%, 10%, .15);

  .infoWrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 12px;
    margin-bottom: 20px;
  }

  .fileWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    padding: 12px;
    background-color: #ffffff;
    border-radius: 6px;
  }
}