.initWrapper {
  padding: 20px;
  background-color: hsl(270, 50%, 95%);
  border-radius: 20px;
  box-shadow: 0 2px 2px hsla(270, 50%, 10%, .3), 0 4px 4px hsla(270, 50%, 10%, .15);

  .infoWrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 12px;
    margin-bottom: 20px;
  }

  .fileWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 400px;
    //padding: 16px;
    //background-color: #F2F4F7;
    //border-radius: 6px;

    .treeWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      border-radius: 20px;
      width: 50%;
      height: 100%;
      padding: 16px;
      box-sizing: border-box;

      & > div {
        width: 100%;
        height: 100px;
      }
    }
    .operationWrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: space-between;
      width: 50%;
      height: 100%;
      .content {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
        gap: 20px;
        height: 60%;
        .folderWrapper {
          flex-grow: 1;
          padding: 12px;
          background-color: #fff;
          border-radius: 20px;
          .curPath {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 16px;
          }
          .folderDetail {
            height: 100px;
            overflow: auto;
          }
        }
      }
      .processWrapper {
        height: 40%;
        padding: 12px;
        box-sizing: border-box;
        border-radius: 20px;
        background: #FFF;

        /* 阴影/m-中层投影 */
        box-shadow: 0 8px 16px 0 rgba(49, 52, 56, 0.08);
      }
    }
  }
}