<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <p>{{ name }}</p>
    <input type="text" v-model="name">
    <p>年龄: {{ detail.age }}</p>
    <input type="text" v-model="detail.age">
  </div>
  <script src="myVue.js"></script>
  <script>
    const vm = new Vue(
      {
        el: '#app',
        data: {
          name: 'scatter',
          detail: {
            age: 20
          }
        }
      }
    )
    console.log(vm)
  </script>
</body>
</html>
